#stockPhoto {
    border: 4px solid #600000;
}

.SubjectDiv {
    border-bottom: 4px solid #600000;
}


#stockPhoto2 {
    height: 335px;
    border: 4px solid #600000;
}

#stockPhoto3 {
    width: 320px;
    border: 4px solid #600000;
}


#stockPhoto3, #stockPhoto4, #stockPhoto5 {
    height: 359px;
    border: 4px solid #600000;
}

#stockPhoto5 {
    border: 4px solid #600000;
}

#stockPhoto5Span {
    padding-left: 150px;
}

.nav
{
    padding-left: 115px;
}
