.subjectTitle
{
    border-bottom: 4px solid #600000;
}

.subjectText
{
    padding-top: 35px;
}

#indexStockPhoto 
{
    /*padding-top: 20px;*/
    height: 250px;
    width: 350px;
    border: 4px solid #600000;
}

.indexStockPhotoDiv
{
    padding-top: 20px;
}

a 
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: dodgerblue;
}

#newsRow1
{
    list-style: none;
}

#newsRow1 > li
{
    display: inline-block;
    padding-right: 250px;
}

#newsRow2
{
    list-style:none;
}

#newsRow2 > li 
{
   display: inline-block;
   padding-right: 250px;
}

#story4{
    padding-left: 115px;
}

.discussionTopic
{
    text-decoration:underline;
    color: blue
}


#popularDiscussions
{
    padding-left: 35px;
}

.post
{
   /*Pad anything contained within this div class out to the middle*/
   padding-left: 390px;
   padding-bottom: 50px;
}

.postPhoto 
{
    border: 4px solid #600000;
    height: 650px;
    width: 650px;
}

.Post-title 
{
    font-size: 26px;
}

#firstPost
{
    padding-top: 100px;
}


#articles
{
    padding-left: 93.25px;
}

#news-and-developments
{
    padding-top: 95px;
}