.subjectTitle
{
    border-bottom: 4px solid #600000;
}

.subjectText
{
    padding-top: 35px;
}

#indexStockPhoto 
{
    padding-top: 20px;
}

a 
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: dodgerblue;
}